<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.MJ2018" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Midtjysk Julecup</name>
    <description>
        2018 testapp
    </description>
    <author email="webmaster@julecup.dk" href="http://www.julecup.dk">
        Julecup Teamet
    </author>
    <content src="index.html" />
	<allow-navigation href="http://www.julecup.dk/*" />
    <access origin="*"/>
	<icon src="icon.png" />
</widget>
